.jumbotron {
  text-align: center;
  background-color: rgba(114, 145, 219, 0.6);
}


form p {  
  font-weight: bold;
}

img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.result {
  display: none;
  margin: 20px;
  border: 2px solid black;
  padding: 4px;
  text-align: center;
  background-color: rgba(114, 145, 219, 0.4)
}

.result p {
  font-weight: normal;
}


.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
